[MASTER]
init-hook='import sys; sys.path.append(".")'
jobs=1
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access
    E1101,  # no-member
    C0330,  # bad-continuation
    C0326,  # bad-whitespace

[REPORTS]
output-format=text
reports=no
score=yes

[REFACTORING]
max-nested-blocks=5

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
method-naming-style=snake_case
module-naming-style=snake_case
variable-naming-style=snake_case

[FORMAT]
indent-string='    '
max-line-length=127
max-module-lines=1000

[DESIGN]
max-args=10
max-attributes=15
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=0

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
min-similarity-lines=4

[TYPECHECK]
ignored-classes=SQLObject, optparse.Values, thread._local, _thread._local
